{% set item = __SELF__.item %}
<section class="container grid-sidebar">
	<div>
		{% partial __SELF__~'::hero' item=item %}
		<div class="animate-slide" style='padding-top: 0;'>
			{% for section in item.content %}
		        {% if section._group == 'definitionList' %}
		            {% partial 'ServiceContent::definitionlist' list=section.definitionLists %}
		        {% elseif section._group == 'content' %}
		            {% partial 'ServiceContent::content' item=item %}
		        {% endif %}
			{% endfor %}
		</div>
	</div>
	<aside class="sidebar gray  animate-slide">
		{% partial 'ServiceContent::service_menu' %}
	</aside>
</section>



