<aside class='{{ item.sidebarClass }}'>
	<nav class='sidebar-nav'>
		<div class='h4'>Zobacz także<span class="accent">.</span></div>
		{% for sibling in __SELF__.item.siblings %}
			<div class='nav-element'>
				<figure>
					{% if sibling.icon %}
						<a href="{{ url('/') }}/uslugi/{{ sibling.slug }}">
							<img src="{{ sibling.icon.getPath() }}" alt="{{sibling.icon.title}}">
						</a>
					{% endif %}
				</figure>
				<a href="{{ sibling.slug }}">{{ sibling.name|replace({'|':''}) }}<span class='accent'>.</span></a>
			</div>
		{% endfor %}
	</nav>
</aside>